:root{
  --bg-dark:#4F1C51;
  --bg-brown:#DCA06D;
  --alt-text:black
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  background-color: #4F1C51 !important;
}
a {
  color: inherit ;
  text-decoration: none;
} 
nav .container-fluid{
  padding: 1% 5%;
}
section .container-fluid{
  padding:3% 5%;

}
/* flat button */
.btn{
  background:var(--bg-brown)!important;
  color: white;
}

/* testimonial testimonial */
.testimonialcontainer{
  background-color: var(--bg-brown);
  border-radius: 17px;
  padding: 16px 3px;
}
/* carousel carousle */
.carousel-control-prev, .carousel-control-next{
  font-size: 30px;
}

.homesearchcontainer{
  background-color: var(--bg-brown);
  color: white;
  padding: 16px;
}

/* Style the carousel indicators */
.carousel-indicators button {
  width: 20px !important;
  height: 20px !important;
  background-color: var(--bg-brown) !important;
  border-radius: 50%;
}

/* Active indicator styling */
.carousel-indicators .active {
 /* Darker color for active indicator */
  opacity: 1; /* Full opacity for the active indicator */
}

/* Optional: Hover effect for the indicators */
.carousel-indicators button:hover {
   /* Darker blue on hover */
  opacity: 1; /* Full opacity on hover */
}
